<div class="card">
  <div class="card-header h3">{{ title | titlecase }}</div>
  <div class="card-body">
    <table class="table">
      <thead class="bg-primary">
        <th>ID</th>
        <th>NAME</th>
        <th>CITY</th>
        <th>DATE OF BIRTH</th>
        <th>Pip</th>
      </thead>
      <tbody>
        <tr *ngFor="let e of empolyee">
          <td>{{ e.id }}</td>
          <td>{{ e.name | uppercase }}</td>
          <td>{{ e.city | lowercase }}</td>
          <td>{{ e.dob | date:'dd/MM/yyyy' }}</td>
          <td>{{ e.dob | age }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
